<a href="https://colab.research.google.com/github/hiranya15/creating-and-uploading-dataset/blob/main/creating_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment No.10
## Name - Hiranya
## PRN - 25070123054
## ENTC A3

## Title - Creating and Uploading  Dataset

In [ ]:
import pandas as pd

data = {
    "Roll No.":[101,102,103,104,105],
    "Gender":["Female","Male","Female","Male","Female"],
    "Department":["Computer","IT","ENTC","Mechanical","Computer"],
    "CGPA":[8.2,7.5,9.1,6.8,8.7]
}

df = pd.DataFrame(data)

df.to_csv("students.csv",index=False)
df

   Roll No.  Gender  Department  CGPA
0       101  Female    Computer   8.2
1       102    Male          IT   7.5
2       103  Female        ENTC   9.1
3       104    Male  Mechanical   6.8
4       105  Female    Computer   8.7

In [ ]:
df.size

20

In [ ]:
df.shape

(5, 4)

In [ ]:
df.info

<bound method DataFrame.info of    Roll No.  Gender  Department  CGPA
0       101  Female    Computer   8.2
1       102    Male          IT   7.5
2       103  Female        ENTC   9.1
3       104    Male  Mechanical   6.8
4       105  Female    Computer   8.7>

In [ ]:
# Access information on Column Department
df["Department"]

0      Computer
1            IT
2          ENTC
3    Mechanical
4      Computer
Name: Department, dtype: object

In [ ]:
# Access information of PRN 103
df.loc[2]

Roll No.         103
Gender        Female
Department      ENTC
CGPA             9.1
Name: 2, dtype: object

In [ ]:
 # Find out data type of each element
df.dtypes

Roll No.        int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [ ]:
# Perform mean,median ,mode operation
df["CGPA"].mean()

np.float64(8.059999999999999)

In [ ]:
df["CGPA"].mode()

0    6.8
1    7.5
2    8.2
3    8.7
4    9.1
Name: CGPA, dtype: float64

In [ ]:
df["CGPA"].median()

8.2

In [ ]:
# Delete Gender column
df.drop("Gender",axis=1)

   Roll No.  Department  CGPA
0       101    Computer   8.2
1       102          IT   7.5
2       103        ENTC   9.1
3       104  Mechanical   6.8
4       105    Computer   8.7

In [ ]:
 # CGPA of a topper
df["CGPA"].max()

9.1

In [ ]:
# CGPA of PRN 105
df["CGPA"].loc[4]

np.float64(8.7)

In [ ]:
# INsert a new column
df.insert(3,"Grade","A")
df

   Roll No.  Gender  Department Grade Section  CGPA
0       101  Female    Computer     A       A   8.2
1       102    Male          IT     A       A   7.5
2       103  Female        ENTC     A       A   9.1
3       104    Male  Mechanical     A       A   6.8
4       105  Female    Computer     A       A   8.7

In [ ]:
# Uplaod the dataset
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Cars93.csv")
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [ ]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [ ]:
df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000

In [ ]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [ ]:
df.shape

(93, 10)

In [ ]:
df.size

930